.carosel-captions-below .carousel-indicators {
  bottom: initial;
  right: 10px;
  left: auto;
  width: auto;
  top: 10px; }
  @media (min-width: 768px) {
    .carosel-captions-below .carousel-indicators {
      top: 20px;
      right: 20px; } }
.carosel-captions-below .carousel-control {
  bottom: auto;
  top: 30%; }
  @media (min-width: 768px) {
    .carosel-captions-below .carousel-control {
      top: 42%; } }

.carousel-caption-below {
  height: 175px;
  padding: 5px 10px;
  overflow-y: scroll;
  border: #090909;
  color: #777777;
  background: #222222;
  font-size: 12px; }
  .carousel-caption-below > * {
    color: inherit; }
  @media (min-width: 768px) {
    .carousel-caption-below {
      padding: 6px 12px;
      height: 131.25px;
      font-size: 14px; } }
